:root {
    --primary: #0d6dfd;
    --dark: #21252f;
    --body: #888;
}

/* 共通のCSS */
.navbar .nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
}
#nav-button {
    padding: 10px 15px !important;
    font-size: 17px !important;
    border-radius: 0 !important;
}


/* index.htmlのCSS */
.hero {
    font-size: large;
    font-weight: 500;
    /*
    background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.7),
      rgba(255, 0, 0, 0) 70.71%
    ), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.7), rgba(0, 0, 255, 0) 70.71%);
    */
    background: linear-gradient(to bottom left, cyan 50%, palegoldenrod 50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* ToDo_form.htmlのCSS */
.todoform {
    padding-left: 25%;
    padding-right: 25%;
}
#succese-container {
    border-left-width: 0.25rem;
    border-left-color: dodgerblue;
}
#error-container {
    border-left-width: 0.25rem;
    border-left-color: red;
}
#edit-error-container {
    border-left-width: 0.25rem;
    border-left-color: red;
}
#add-button {
    align-content: center;
}


/* ToDo_list.htmlのCSS */
.todolist {
    padding-left: 30%;
    padding-right: 30%;
}
#todo-card {
    border-radius: 20px;
    border-width: 2.5px;
}
#todo-card-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#todo-card-footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}