<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo_Form</title>

    <!-- 独自のCSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- 独自のJS -->
    <script defer src="{{ url_for('static', filename='ToDo_form.js') }}"></script>
    <!-- Bootstrap JS(compiled bundle) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-dark py-3">
        <div class="container">
          <a class="navbar-brand">
            <h1 class="fs-4 text-white pt-1">U_maru&nbsp;&nbsp;&nbsp;Home</h1>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ToDo">ToDo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ToDo_List">List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Other</a>
              </li>
              <button class="btn btn-primary ms-3" id="nav-button">U_maru</button>
            </ul>
          </div>
        </div>
    </nav>

    <!-- ToDo Form -->
    <form class="todoform py-5 row g-3">
        <h1>ToDo</h1>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Name</label>
            <input type="text" class="form-control" id="add-Name" placeholder="YourName">
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Title</label>
            <input type="text" class="form-control" id="add-Title">
        </div>
        <div class="col-md-4">
            <label for="inputDate" class="form-label">Date</label>
            <input type="date" class="form-select" id="add-Date" min="2023-01-01" pattern="\d{4}-\d{2}-\d{2}">
        </div>
        <div class="col-md-2">
            <label for="inputState" class="form-label">State</label>
            <select class="form-select" id="add-State">
                <option value="高" selected>High</option>
                <option value="中">Middle</option>
                <option value="低">Low</option>
            </select>
        </div>
        <div class="col-12 mb-3">
            <label for="inputAddress" class="form-label">ToDo</label>
            <textarea class="form-control" id="add-Text" rows="3"></textarea>
        </div>
        <button class="btn btn-primary col-4 mx-auto mt-6" id="add-submit">Add</button>
    </form>

</body>
</html>